body {
  background-color: #eee;
  width: 97%;
  /* border: 1px solid black; */
  margin: auto !important;
}
.nav-link button {
  border: none;
  color: #eee;
  border-radius: 3px;
}
.first {
  border: 1px solid #808080;
  border-radius: 7px;
}
.child1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.child1 p {
  font-size: 13px;
  color: gray;
}
.child1 .postsss {
  width: 100%;
}
.feed a {
  text-decoration: none;
  color: black;
}

.firstChildSection div {
  width: 32%;
  height: 120px;
  margin: 0 1%;
}
.firstChildSection img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.secondChildSection {
  border: 1px solid #bdbaba;
  border-radius: 7px;
}
.secondChildSection input {
  padding-left: 3%;
  border: none;
  height: 60px;
  width: 100%;
}
.secondChildSection input:focus {
  outline: none;
}
.secondChildSection button {
  border: none;
  border-radius: 4px;
  margin: 0 1%;
}
.thirdChildSection p {
  font-size: 13px;
}

@media (max-width: 700px) {
  .postsss {
    flex-direction: column !important;
  }
  .userIcon {
    display: none !important;
  }
}

@media (max-width: 440px) {
  .child1 {
    overflow: hidden !important;
  }
}
